.button {
    color: white; 
    outline: none;
    background: #E93B6F;
    border: none;
    letter-spacing: 0.0625em;
    padding: 8px 10px; 
    text-transform: uppercase;
    line-height: 2;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all .5s;
}


 
  .button:hover{
      background-color: white;
      color: #5FE2DC;
  }